@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

:root {
  --main-white: #eaeaea;
  --theme-color: #272d4b;
  --border: 1px solid #868686;
  --padding: 20px;
}

/* INDEX.HTML */
body {
    margin: 0;
    font-family: 'Braah One';
    color: var(--theme-color);
}
main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/quiz-bg.png);
    background-size: contain;
  }
h1 {
    font-size: 2rem;
    text-align: center;
}
/* puede sustituirse por section */
#welcome, #graph {
    box-sizing: border-box;
    padding: var(--padding) 30px;
    background-color: var(--main-white);
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 30px;
    border-radius: 20px;
    width: 80%;
}
#go {
    padding: var(--padding);
    border-radius: 20px;
    outline: none;
    border: var(--border);
    width: 7rem;
    font-family: inherit;
    color: inherit;
    border: 1px solid #272d4b;
}

/* ESTILOS QUESTIONS.HTML */
.questions {
    padding: var(--padding) 30px;
    background-color: var(--main-white);
    border: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 30px;
    border-radius: 20px;
    width: 70%;
}
input[type="radio"] {
    display: none;
}

/* ESTILOS RESULTS.HTML */


.results-card {
  padding: var(--padding) 30px;
  background-color: var(--main-white);
  border: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 30px;
  border-radius: 20px;
  width: 70%;
}

.results-final-result {
  margin: 7px 0px;
  font-size: 2rem;
  font-weight: bold;
}

.results-try-again {
  padding: var(--padding);
  border-radius: 20px;
  outline: none;
  border: var(--border);
  font-family: inherit;
  color: inherit;
  border: 1px solid #272d4b;
}

