@import url("https://fonts.googleapis.com/css2?family=Braah+One&display=swap");

:root {
  --main-white: #eaeaea;
  --theme-color: #272d4b;
  --border: 1px solid #868686;
  --border-radius: 20px;
  --padding: 20px;
  --main-bg: url(../assets/images/quiz-bg-test.jpg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* INDEX.HTML */
body {
  font-family: "Braah One";
  color: var(--theme-color);
  background-color: #bcd7e0;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
}
a,
a:active,
a:visited {
  text-decoration: none;
}
.index {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--main-bg);
  background-size: cover;
  padding: var(--padding);
}

/* puede sustituirse por section */
#welcome,
#graph {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  background-color: var(--main-white);
  border: var(--border);
  box-shadow: 1px 1px 30px;
  border-radius: var(--border-radius);
  gap: 20px;
}

#welcome h2 {
  font-size: 1.2rem;
  text-align: center;
}
#start-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  border-radius: 20px;
  border: var(--border);
  color: inherit;
  text-decoration: none;
}
/* ESTILOS QUESTIONS.HTML */
.questions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.questions-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.questions-nav ul {
  display: flex;
  gap: 40px;
}
.questions-nav li {
  list-style: none;
}
.questions-nav li a {
  text-decoration: none;
}

.questions {
  min-height: 100vh;
  max-width: 450px;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: var(--main-bg);
  background-size: cover;
}

.question-text {
  min-height: 40vh;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: var(--main-white);
  -webkit-text-stroke: 2px black;
  text-shadow: 3px 4px 20px #000;
}
.answers-section {
  width: 100%;
  max-width: 450px;
}
/* div de respuestas */
.a {
  background-color: #06d6a0;
}
.b {
  background-color: #ffd166;
}
.c {
  background-color: #ef476f;
}
.d {
  background-color: #118ab2;
}

input[type="radio"] {
  display: none;
}
label {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input:checked + label {
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #083a50;
  font-size: 1.3rem;
  border: 4px solid #083a50;
}
/* ESTILOS RESULTS.HTML */

.results {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--main-bg);
  background-size: cover;
  padding: var(--padding);
  gap: 50px;
}

.results-card {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--padding);
  background-color: var(--main-white);
  border: var(--border);
  box-shadow: 1px 1px 30px;
  border-radius: var(--border-radius);
  gap: 20px;
}

.results-final-result {
  margin: 7px 0px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.results-try-again {
  width: 100%;
  padding: var(--padding);
  border-radius: 20px;
  outline: none;
  border: var(--border);
  font-family: inherit;
  color: inherit;
  border: 1px solid #272d4b;
}
.results-chart {
  max-width: 450px;
  background-color: var(--main-white);
  border-radius: var(--border-radius);
}
/* VALIDACIÓN */

.correct {
  background-color: #a0fd9c;
  color: #0dde05;
  font-size: 1.3rem;
  border: 4px solid #0dde05;
}
.wrong {
  background-color: #ffc0c0;
  color: #ff0000;
  font-size: 1.3rem;
  border: 4px solid #ff0000;
}
